$colorWhiteOne: #ffffff;
$colorWhiteTwo: #ffffffb3;

$colorBlackOne: #000000;
$colorBlackTwo: #121212;

$earthly-brown: #8B4513;
$golden-yellow: #FFD700;
$mahogany: #420000;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: $colorBlackTwo;
  color: $colorWhiteOne;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colorWhiteOne;
}

p {
  color: $colorWhiteTwo;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: $colorWhiteOne;
  color: $colorBlackOne;
  border-radius: 36px;
  padding: 6px 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

section {
  padding-block: 48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

h2.heading {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.085px;
}

header {
  background-color: $colorBlackOne;
  color: $colorWhiteOne;
  padding: 16px;

  .logo {
    img {
      border-radius: 25px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.menu {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  a {
    font-size: 1.4rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .apply-now {
    background-color: transparent;
    border: 2px solid #FFD700;
    color: #FFD700;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #FFD700;
      color: #420000;
    }

    &:hover {
      background-color: $colorWhiteOne;
      color: $colorBlackOne;
    }
  }

  // Mobile Menu Styles
  ul.mobile-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: $colorBlackOne;
    position: absolute;
    top: 74px;
    right: 0;
    width: 100%;
    padding: 10px;

    @media screen and (max-width: 768px) {
      display: none;

      &.active {
        display: flex;
      }
    }

    li {
      margin-bottom: 10px;
      text-align: center;
      padding-block: 20px;

      a {
        color: $colorWhiteOne;
        text-decoration: none;
        font-size: 1.4rem;
      }
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1;

    &.active {
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }

  .bar {
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: transform .3s ease;
  }

  @media screen and (max-width: 768px) {
    display: block;

    .menu-toggle {
      display: flex;
    }
  }
}

.bannerSection {
  background-color: $earthly-brown;
  color: $golden-yellow;

  .bannerContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bannerContent {
    flex: 1;

    .bannerHeading {
      font-size: 4.8rem;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 2rem;
      margin-bottom: 2.4rem;
      line-height: 1.4em;
    }

    button {
      background-color: $mahogany;
      color: $golden-yellow;
      padding: 1.8rem 3rem;
      font-size: 1.5rem;
      font-weight: 600;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $golden-yellow;
        color: $mahogany;
      }
    }

  }

  .bannerVideo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: 80px;
      height: 80px;
      fill: $mahogany;
      transition: fill 0.3s;
      cursor: pointer;

      &:hover {
        fill: $golden-yellow;
      }
    }

    P {
      margin-top: 1rem;
      font-size: 2.6rem;
    }
  }

  @media (max-width: 768px) {

    .bannerContentWrapper {
      flex-direction: column;
    }

    .bannerContent,
    .bannerVideo {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }

    .bannerVideo {
      svg {
        width: 60px;
        height: 60px;
      }

      p {
        text-align: center;
      }
    }
  }
}

.aboutSection {
  background-color: #FFD700;
  padding: 60px 0;
  text-align: center;

  h3 {
    color: #420000;
    font-size: 2.6rem;
    margin-bottom: 16px;
  }

  .flexLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }

  .flexContent {
    text-align: left;
    flex: 1;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4em;
    color: #420000;
    margin-bottom: 20px;
  }

  .flexImage {
    flex: 1;
    text-align: center;
  }

  img {
    height: auto;
    width: 400px;
    border-radius: 25px;
  }


  @media screen and (max-width: 768px) {
    .flexLayout {
      flex-direction: column;
      text-align: center;
    }

    .flexLayout.reversed {
      flex-direction: column-reverse;
    }
  }
}



.testimonialsSection {
  background-color: #8B4513;
  padding: 60px 0;
  text-align: center;

  .testimonialsHeading {
    color: #FFD700;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .testimonialSlider {
    position: relative;
  }

  .sliderWrapper {
    display: flex;
    overflow: hidden;
  }

  .sliderItem {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
  }

  .testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .testimonialImage {
    flex: 0 0 30%;
  }

  .testimonialImage img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid $colorWhiteTwo;
  }

  .testimonialContent {
    flex: 0 0 70%;
    text-align: left;
    padding: 0 20px;
  }

  .testimonialText {
    color: #FFD700;
    font-size: 2.6rem;
  }

  .sliderControls {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
  }

  .prevSlideBtn,
  .nextSlideBtn {
    background-color: #FFD700;
    color: #420000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .prevSlideBtn {
    svg {
      transform: rotate(180deg);
    }
  }

  .prevSlideBtn:hover,
  .nextSlideBtn:hover {
    background-color: #420000;
    color: #FFD700;
  }

  @media (max-width: 768px) {
    .testimonial {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .testimonialText {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.5em;
    }
  }
}



.coachesSection {
  background-color: #420000;
  color: #FFD700;
  padding: 60px 0;

  .coachesFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .coachesContent {
    flex: 0 0 50%;
    padding: 0 20px;
  }

  h2 {
    font-size: 3.4rem;
    line-height: 1.4em;
    margin-bottom: 12px;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6em;
    margin-bottom: 12px;
  }

  button {
    background-color: transparent;
    border: 2px solid #FFD700;
    color: #FFD700;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #FFD700;
      color: #420000;
    }
  }

  .coachesImage {
    flex: 0 0 45%;
    text-align: right;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .coachesFlex {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    .coachesContent {
      flex: 0 0 100%;
    }

    .coachesImage {
      margin-top: 20px;
      text-align: center;
    }
  }
}

.featuresSection {
  background-color: #420000;
  color: #FFD700;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  .featuresFlex {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

    &:first-of-type {
      margin-bottom: 48px;
    }
  }

  .featureCard {
    max-width: 280px;
    text-align: center;
    padding: 24px;
    background-color: rgba(255, 215, 0, 0.1);
    border-radius: 16px;
    border: 1px solid #FFD700;

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.6rem;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
    }
  }

  // Media query for responsiveness
  @media screen and (max-width: 768px) {
    .featuresFlex {
      flex-direction: column;
      align-items: center;
    }

    .featureCard {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}

.faqSection {
  background-color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    color: #333;
  }

  .faqAccordion {
    max-width: 800px;
    margin: 0 auto;
  }

  span {
    font-size: 2rem;
  }

  .faqItem {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 8px;

    .faqQuestion {
      color: #333;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrowIcon {
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }
    }

    .faqAnswer {
      display: none;
      color: #333;
      padding-top: 8px;
      font-size: 1.6rem;
    }

    &.active {
      .faqAnswer {
        display: block;
      }

      .faqQuestion {
        .arrowIcon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.callToActionSection {
  background-color: #420000;
  color: #FFD700;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  .ctaButton {
    background-color: transparent;
    border: 2px solid #FFD700;
    color: #FFD700;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #FFD700;
    }
  }

  .ctaButton .arrowIcon {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .ctaButton:hover {
    background-color: #FFD700;
    color: #420000;

    svg {
      fill: #420000;
    }
  }

  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .ctaButton {
      font-size: 14px;
    }
  }
}

/* Footer Section */
footer {
  background-color: #420000;
  color: #FFD700;
  padding: 40px 0;
  border-top: 1px solid rgba(97, 97, 97, 1);

  h3 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: bold;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 40px;
    gap: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    .footer-left {
      flex: 1;

      img {
        max-width: 100px;
        border-radius: 25px;
      }

      p {
        margin-top: 24px;
        font-size: 1.6rem;
      }
    }

    .footer-right {
      display: flex;
      justify-content: space-between;
      flex: 2;

      .footer-section {
        flex: 1;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #FFD700;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        font-size: 1.6rem;

        &:hover {
          color: #8B4513;
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    p {
      font-size: 14px;
    }

    .social-icons {
      display: flex;
      gap: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .footer-flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 20px;

      .social-icons {
        margin-top: 10px;
      }
    }
  }
}