$whiteOne: #ffffff;
$whiteTwo: #f5f5f5;

$blackOne: #000000;
$blackTwo: #333333;
$blackThree: rgba($blackTwo, 0.8);

$blueOne: #3498db;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: $whiteTwo;
  color: $blackTwo;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blackTwo;
}

p {
  color: $blackThree;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: $blackTwo;
  color: $blackOne;
  border-radius: 36px;
  padding: 6px 16px;
  outline: none;
  cursor: pointer;
}

section {
  padding-block: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.commonBtn {
  background-color: $blueOne;
  color: $blackOne;
  border: 1px solid $blueOne;
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 0.3s;

  &:hover {
    background-color: transparent;
    color: $blueOne;
  }

  svg {
    fill: inherit;
  }

  &:hover {
    background-color: transparent;
    color: $blueOne;
    svg {
      fill: $blueOne;
    }
  }
}

.outlineBtn {
  background-color: transparent;
  border: 2px solid $blueOne;
  color: $blueOne;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: $blueOne;
    color: $whiteTwo;
  }
}

h2.heading {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.085px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-bottom: 25px;
    font-size: 2.8rem;
  }
}

header {
  background-color: transparent;
  color: $blackTwo;
  padding: 16px;
  border-bottom: 1px solid $blackThree;

  .logo {
    img {
      border-radius: 25px;
      border: 1px solid $blackOne;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 1;

    li {
      text-align: center;
      padding-block: 20px;

      a {
        color: $blackOne;
        font-size: 1.6rem;
        &:hover {
          color: $blueOne;
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  ul.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: $blackOne;
    position: absolute;
    top: 74px;
    right: 0;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $blueOne;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1;

    &.active {
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }

  .bar {
    width: 100%;
    height: 2px;
    background: $blackTwo;
    transition: transform 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    display: block;

    ul.menu {
      display: none;
      gap: 0;
    }

    .menu-toggle {
      display: flex;
    }

    ul.mobile-menu {
      display: none;

      &.active {
        display: flex;
      }
    }
  }
}

.bannerSection {
  background-color: $whiteTwo;
  background-image: url("../images/founder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: $whiteOne;
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  z-index: 0;

  &::before {
    content: "";
    background-color: rgba($blackOne, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .bannerContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: $blueOne;
  }

  .bannerContent {
    flex: 1;

    .bannerHeading {
      font-size: 4.8rem;
      margin-bottom: 1.2rem;
      color: $whiteOne;
    }

    p {
      font-size: 2rem;
      margin-bottom: 2.4rem;
      line-height: 1.4em;
      color: $whiteOne;
    }
  }

  .bannerVideo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: $whiteOne;

    svg {
      width: 80px;
      height: 80px;
      fill: $blackThree;
      transition: fill 0.3s;
      cursor: pointer;
      fill: $whiteOne;
    }

    P {
      margin-top: 1rem;
      font-size: 2.6rem;
      color: $whiteOne;
    }

    &:hover {
      p {
        color: $blueOne;
      }
      svg {
        fill: $blueOne;
      }
    }
  }

  @media (max-width: 768px) {
    .bannerContentWrapper {
      flex-direction: column;
      gap: 30px;
    }

    .bannerContent {
      .bannerHeading {
        font-size: 3.6rem;
      }
      p {
        font-size: 1.6rem;
      }
    }

    .bannerContent,
    .bannerVideo {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }

    .bannerVideo {
      svg {
        width: 60px;
        height: 60px;
      }

      p {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba($blackOne, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  .popupContent {
    max-width: 700px;
    min-width: 700px;
    min-height: 400px;
    margin: auto;
    margin-inline: 20px;
    background: $blackOne;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba($blackOne, 0.5);
    text-align: center;
    position: relative;
    border: 1px solid $blueOne;
  }

  .closePopupButton {
    background: $blackOne;
    color: $blackTwo;
    padding: 5px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    svg {
      fill: $whiteOne;
    }
  }

  .closePopupButton:hover {
    background: $blackOne;
  }

  @media (max-width: 768px) {
    .closePopupButton {
      transform: translate(30%, -30%);

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.aboutSection {
  background-color: $whiteTwo;
  padding: 60px 0;
  text-align: center;

  h3 {
    color: $blackTwo;
    font-size: 2.6rem;
    margin-bottom: 16px;
  }

  .flexLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px;
  }

  .flexContent {
    text-align: left;
    flex: 1;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4em;
    color: $blackThree;
    margin-bottom: 20px;
  }

  .flexImage {
    flex: 1;
    text-align: center;
  }

  img {
    height: auto;
    width: 400px;
    border-radius: 25px;
  }

  @media screen and (max-width: 768px) {
    .flexLayout {
      flex-direction: column;
      text-align: center;
      padding-block: 30px;
    }

    .flexLayout.reversed {
      flex-direction: column-reverse;
    }

    .flexContent {
      text-align: center;
    }

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

.testimonialsSection {
  background-color: $whiteTwo;
  padding: 60px 0;
  text-align: center;

  .testimonialsHeading {
    color: $blackTwo;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .testimonialSlider {
    position: relative;
  }

  .sliderWrapper {
    display: flex;
    overflow: hidden;
  }

  .sliderItem {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
  }

  .testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .testimonialImage {
    flex: 0 0 30%;
  }

  .testimonialImage img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid $blackThree;
  }

  .testimonialContent {
    flex: 0 0 70%;
    text-align: left;
    padding: 0 20px;
  }

  .testimonialText {
    color: $blackTwo;
    font-size: 2rem;
    line-height: 1.5em;
  }

  .sliderControls {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
  }

  .prevSlideBtn,
  .nextSlideBtn {
    background-color: $blueOne;
    border: 1px solid $blueOne;
    color: $whiteTwo;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .prevSlideBtn {
    svg {
      transform: rotate(180deg);
    }
  }

  .prevSlideBtn:hover,
  .nextSlideBtn:hover {
    background-color: $whiteTwo;
    color: $blueOne;
    svg {
      fill: $blueOne;
    }
  }

  @media (max-width: 768px) {
    .testimonial {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .testimonialText {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.5em;
    }
  }
}

.coachesSection {
  background-color: $whiteTwo;
  color: $blueOne;
  padding: 60px 0;

  .coachesFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .coachesContent {
    flex: 0 0 50%;
    padding: 0 20px;
  }

  h2 {
    line-height: 1.4em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6em;
    margin-bottom: 20px;
  }

  .coachesImage {
    flex: 0 0 45%;
    text-align: right;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .coachesFlex {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    .coachesContent {
      flex: 0 0 100%;
    }

    .coachesImage {
      margin-block: 20px;
      text-align: center;
      max-width: 400px;
    }
  }
}

.featuresSection {
  background-color: $whiteTwo;
  color: $blueOne;
  text-align: center;

  .featuresFlex {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  .featureCard {
    max-width: 280px;
    text-align: center;
    padding: 24px;
    background-color: rgba($blackOne, 0.6);
    border-radius: 16px;
    border: 1px solid $blueOne;

    img {
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 8px;
      color: $whiteOne;
    }

    h4 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: yellow;
    }

    li {
      font-size: 1.4rem;
      color: yellow;
      text-align: left;
      text-transform: capitalize;
      font-weight: 600;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
      color: $whiteTwo;
    }
  }

  @media screen and (max-width: 768px) {
    .featuresFlex {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
}

.whatYouGetSection {
  img {
    width: 50px;
    height: 50px;
  }
}

.topersSection {
  img {
    width: 150px;
    height: 150px;
  }
}

.faqSection {
  background-color: $whiteTwo;
  text-align: center;

  h2 {
    color: $blackTwo;
  }

  .faqAccordion {
    max-width: 800px;
    margin: 0 auto;
  }

  span {
    font-size: 2rem;
  }

  .faqItem {
    padding: 24px;
    box-shadow: rgba($blackOne, 0.2) 0px 2px 1px -1px,
      rgba($blackOne, 0.14) 0px 1px 1px 0px,
      rgba($blackOne, 0.12) 0px 1px 3px 0px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    text-align: left;
    background-color: rgba($blackOne, 0.3);
    border-radius: 8px;
    border: 1px solid $blueOne;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    .faqQuestion {
      color: $blackOne;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrowIcon {
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }
    }

    .faqAnswer {
      display: none;
      color: $blackOne;
      padding-top: 8px;
      font-size: 1.6rem;
    }

    &.active {
      .faqAnswer {
        display: block;
      }

      .faqQuestion {
        .arrowIcon {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media (max-width: 768px) {
    span {
      font-size: 1.6rem;
    }
    .faqItem {
      padding: 12px;
    }
  }
}

.callToActionSection {
  background-color: $whiteTwo;
  color: $blueOne;
  text-align: center;

  .ctaButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .ctaButton .arrowIcon {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  @media screen and (max-width: 768px) {
    .ctaButton {
      font-size: 14px;
    }
  }
}

footer {
  background-color: $whiteTwo;
  color: $blueOne;
  padding: 40px 0;
  border-top: 1px solid rgba($blueOne, 0.4);

  h3 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: bold;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 40px;
    gap: 48px;
    border-bottom: 1px solid rgba($blackTwo, 0.12);

    .footer-left {
      flex: 1;

      img {
        max-width: 100px;
        border-radius: 25px;
      }

      p {
        margin-top: 24px;
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
    }

    .footer-right {
      display: flex;
      justify-content: space-between;
      flex: 2;

      .footer-section {
        flex: 1;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: $blueOne;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        font-size: 1.6rem;

        &:hover {
          color: $blackThree;
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    p {
      font-size: 14px;
    }

    .social-icons {
      display: flex;
      gap: 20px;
      img {
        border-radius: 50%;
        &:hover {
          box-shadow: 0 0 10px rgba($blackTwo, 0.3);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer-flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 25px;
      padding-bottom: 20px;
    }

    .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding-top: 20px;
    }
  }
}
