* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: rgba(255, 255, 255, 0.7019607843);
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 36px;
  padding: 6px 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

section {
  padding-block: 48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

h2.heading {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.085px;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding-block: 16px;
}
header .logo {
  font-size: 1.8rem;
  font-weight: bold;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 20px;
}
header a {
  font-size: 1.4rem;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bannerSection {
  background-color: #8B4513;
  color: #FFD700;
}
.bannerSection .bannerContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bannerSection .bannerContent {
  flex: 1;
}
.bannerSection .bannerContent .bannerHeading {
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
}
.bannerSection .bannerContent p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.4em;
}
.bannerSection .bannerContent button {
  background-color: #420000;
  color: #FFD700;
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.bannerSection .bannerContent button:hover {
  background-color: #FFD700;
  color: #420000;
}
.bannerSection .bannerVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerSection .bannerVideo svg {
  width: 80px;
  height: 80px;
  fill: #420000;
  transition: fill 0.3s;
  cursor: pointer;
}
.bannerSection .bannerVideo svg:hover {
  fill: #FFD700;
}
.bannerSection .bannerVideo P {
  margin-top: 1rem;
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  .bannerSection .bannerContentWrapper {
    flex-direction: column;
  }
  .bannerSection .bannerContent,
  .bannerSection .bannerVideo {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .bannerSection .bannerVideo svg {
    width: 60px;
    height: 60px;
  }
  .bannerSection .bannerVideo p {
    text-align: center;
  }
}

.aboutSection {
  background-color: #FFD700;
  padding: 60px 0;
  text-align: center;
  /* Media query for responsiveness */
}
.aboutSection h3 {
  color: #420000;
  font-size: 2.6rem;
  margin-bottom: 16px;
}
.aboutSection .flexLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.aboutSection .flexContent {
  text-align: left;
  flex: 1;
}
.aboutSection p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4em;
  color: #420000;
  margin-bottom: 20px;
}
.aboutSection .flexImage {
  flex: 1;
  text-align: center;
}
.aboutSection img {
  height: auto;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .aboutSection .flexLayout {
    flex-direction: column;
    text-align: center;
  }
  .aboutSection .flexLayout.reversed {
    flex-direction: column-reverse;
  }
}

/* ... (Existing CSS Styles) ... */
.testimonialsSection {
  background-color: #8B4513;
  padding: 60px 0;
  text-align: center;
  /* Position the buttons absolutely */
}
.testimonialsSection .testimonialsHeading {
  color: #FFD700;
  font-size: 28px;
  margin-bottom: 30px;
}
.testimonialsSection .testimonialSlider {
  position: relative;
}
.testimonialsSection .sliderWrapper {
  display: flex;
  overflow: hidden;
}
.testimonialsSection .sliderItem {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}
.testimonialsSection .testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.testimonialsSection .testimonialImage {
  flex: 0 0 30%;
}
.testimonialsSection .testimonialImage img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
}
.testimonialsSection .testimonialContent {
  flex: 0 0 70%;
  text-align: left;
  padding: 0 20px;
}
.testimonialsSection .testimonialText {
  color: #FFD700;
  font-size: 2.6rem;
}
.testimonialsSection .sliderControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.testimonialsSection .prevSlideBtn,
.testimonialsSection .nextSlideBtn {
  background-color: #FFD700;
  color: #420000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex: 0 0 auto;
}
.testimonialsSection .prevSlideBtn:hover,
.testimonialsSection .nextSlideBtn:hover {
  background-color: #420000;
  color: #FFD700;
}
.testimonialsSection .absoluteLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonialsSection .absoluteRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/* Add styles for the Coaches section */
.coachesSection {
  background-color: #420000;
  color: #FFD700;
  padding: 60px 0;
}
.coachesSection .coachesFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coachesSection .coachesContent {
  flex: 0 0 50%;
  padding: 0 20px;
}
.coachesSection h2 {
  font-size: 3.4rem;
  line-height: 1.4em;
  margin-bottom: 12px;
}
.coachesSection p {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 12px;
}
.coachesSection button {
  background-color: transparent;
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.coachesSection button:hover {
  background-color: #FFD700;
  color: #420000;
}
.coachesSection .coachesImage {
  flex: 0 0 45%;
  text-align: right;
}
.coachesSection .coachesImage img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .coachesSection .coachesFlex {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .coachesSection .coachesContent {
    flex: 0 0 100%;
  }
  .coachesSection .coachesImage {
    margin-top: 20px;
    text-align: center;
  }
}

.featuresSection {
  background-color: #420000;
  color: #FFD700;
  text-align: center;
}
.featuresSection h2 {
  margin-bottom: 30px;
}
.featuresSection .featuresFlex {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.featuresSection .featuresFlex:first-of-type {
  margin-bottom: 48px;
}
.featuresSection .featureCard {
  max-width: 280px;
  text-align: center;
  padding: 24px;
  background-color: rgba(255, 215, 0, 0.1);
  border-radius: 16px;
  border: 1px solid #FFD700;
}
.featuresSection .featureCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.featuresSection .featureCard h3 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}
.featuresSection .featureCard p {
  font-size: 16px;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .featuresSection .featuresFlex {
    flex-direction: column;
    align-items: center;
  }
  .featuresSection .featureCard {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
