* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: rgba(255, 255, 255, 0.7019607843);
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 36px;
  padding: 6px 16px;
  outline: none;
  cursor: pointer;
}

section {
  padding-block: 48px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

h2.heading {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.085px;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
}
header .logo img {
  border-radius: 25px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.menu {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  header ul.menu {
    display: none;
  }
}
header a {
  font-size: 1.4rem;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .apply-now {
  background-color: transparent;
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
header .apply-now:hover {
  background-color: #FFD700;
  color: #420000;
}
header .apply-now:hover {
  background-color: #ffffff;
  color: #000000;
}
header ul.mobile-menu {
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: #000000;
  position: absolute;
  top: 74px;
  right: 0;
  width: 100%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  header ul.mobile-menu {
    display: none;
  }
  header ul.mobile-menu.active {
    display: flex;
  }
}
header ul.mobile-menu li {
  margin-bottom: 10px;
  text-align: center;
  padding-block: 20px;
}
header ul.mobile-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}
header .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
header .menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
header .menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}
header .bar {
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  header {
    display: block;
  }
  header .menu-toggle {
    display: flex;
  }
}

.bannerSection {
  background-color: #000000;
  color: #ffffff;
}
.bannerSection .bannerContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bannerSection .bannerContent {
  flex: 1;
}
.bannerSection .bannerContent .bannerHeading {
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
}
.bannerSection .bannerContent p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.4em;
}
.bannerSection .bannerContent button {
  background-color: #FFD700;
  color: #000000;
  border: 1px solid #FFD700;
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}
.bannerSection .bannerContent button:hover {
  background-color: transparent;
  color: #FFD700;
}
.bannerSection .bannerVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.bannerSection .bannerVideo:hover p {
  color: #FFD700;
}
.bannerSection .bannerVideo svg {
  width: 80px;
  height: 80px;
  fill: #f5f5f5;
  transition: fill 0.3s;
  cursor: pointer;
}
.bannerSection .bannerVideo svg:hover {
  fill: #FFD700;
}
.bannerSection .bannerVideo P {
  margin-top: 1rem;
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  .bannerSection .bannerContentWrapper {
    flex-direction: column;
  }
  .bannerSection .bannerContent,
  .bannerSection .bannerVideo {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .bannerSection .bannerVideo svg {
    width: 60px;
    height: 60px;
  }
  .bannerSection .bannerVideo p {
    text-align: center;
  }
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.popupOverlay .popupContent {
  max-width: 700px;
  min-width: 700px;
  min-height: 400px;
  margin: auto;
  margin-inline: 20px;
  background: #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}
.popupOverlay .closePopupButton {
  background: #2f2f2f;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.popupOverlay .closePopupButton:hover {
  background: #000000;
}
@media (max-width: 768px) {
  .popupOverlay .closePopupButton {
    transform: translate(30%, -30%);
  }
  .popupOverlay .closePopupButton svg {
    width: 15px;
    height: 15px;
  }
}

.aboutSection {
  background-color: #420000;
  padding: 60px 0;
  text-align: center;
}
.aboutSection h3 {
  color: #ffffff;
  font-size: 2.6rem;
  margin-bottom: 16px;
}
.aboutSection .flexLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.aboutSection .flexContent {
  text-align: left;
  flex: 1;
}
.aboutSection p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 20px;
}
.aboutSection .flexImage {
  flex: 1;
  text-align: center;
}
.aboutSection img {
  height: auto;
  width: 400px;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .aboutSection .flexLayout {
    flex-direction: column;
    text-align: center;
  }
  .aboutSection .flexLayout.reversed {
    flex-direction: column-reverse;
  }
}

.testimonialsSection {
  background-color: #8B4513;
  padding: 60px 0;
  text-align: center;
}
.testimonialsSection .testimonialsHeading {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 30px;
}
.testimonialsSection .testimonialSlider {
  position: relative;
}
.testimonialsSection .sliderWrapper {
  display: flex;
  overflow: hidden;
}
.testimonialsSection .sliderItem {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}
.testimonialsSection .testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.testimonialsSection .testimonialImage {
  flex: 0 0 30%;
}
.testimonialsSection .testimonialImage img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
}
.testimonialsSection .testimonialContent {
  flex: 0 0 70%;
  text-align: left;
  padding: 0 20px;
}
.testimonialsSection .testimonialText {
  color: #420000;
  font-size: 2.6rem;
}
.testimonialsSection .sliderControls {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}
.testimonialsSection .prevSlideBtn,
.testimonialsSection .nextSlideBtn {
  background-color: #FFD700;
  color: #420000;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.testimonialsSection .prevSlideBtn svg {
  transform: rotate(180deg);
}
.testimonialsSection .prevSlideBtn:hover,
.testimonialsSection .nextSlideBtn:hover {
  background-color: #420000;
  color: #FFD700;
}
@media (max-width: 768px) {
  .testimonialsSection .testimonial {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .testimonialsSection .testimonialText {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5em;
  }
}

.coachesSection {
  background-color: #420000;
  color: #FFD700;
  padding: 60px 0;
}
.coachesSection .coachesFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coachesSection .coachesContent {
  flex: 0 0 50%;
  padding: 0 20px;
}
.coachesSection h2 {
  font-size: 3.4rem;
  line-height: 1.4em;
  margin-bottom: 12px;
}
.coachesSection p {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 12px;
}
.coachesSection button {
  background-color: transparent;
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.coachesSection button:hover {
  background-color: #FFD700;
  color: #420000;
}
.coachesSection .coachesImage {
  flex: 0 0 45%;
  text-align: right;
}
.coachesSection .coachesImage img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .coachesSection .coachesFlex {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .coachesSection .coachesContent {
    flex: 0 0 100%;
  }
  .coachesSection .coachesImage {
    margin-top: 20px;
    text-align: center;
  }
}

.featuresSection {
  background-color: #420000;
  color: #FFD700;
  text-align: center;
}
.featuresSection h2 {
  margin-bottom: 30px;
}
.featuresSection .featuresFlex {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.featuresSection .featuresFlex:first-of-type {
  margin-bottom: 48px;
}
.featuresSection .featureCard {
  max-width: 280px;
  text-align: center;
  padding: 24px;
  background-color: rgba(255, 215, 0, 0.1);
  border-radius: 16px;
  border: 1px solid #FFD700;
}
.featuresSection .featureCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.featuresSection .featureCard h3 {
  font-size: 1.6rem;
  margin-bottom: 8px;
}
.featuresSection .featureCard p {
  font-size: 16px;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .featuresSection .featuresFlex {
    flex-direction: column;
    align-items: center;
  }
  .featuresSection .featureCard {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.faqSection {
  background-color: #fff;
  text-align: center;
}
.faqSection h2 {
  margin-bottom: 30px;
  color: #333;
}
.faqSection .faqAccordion {
  max-width: 800px;
  margin: 0 auto;
}
.faqSection span {
  font-size: 2rem;
}
.faqSection .faqItem {
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.faqSection .faqItem .faqQuestion {
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqSection .faqItem .faqQuestion .arrowIcon {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.faqSection .faqItem .faqAnswer {
  display: none;
  color: #333;
  padding-top: 8px;
  font-size: 1.6rem;
}
.faqSection .faqItem.active .faqAnswer {
  display: block;
}
.faqSection .faqItem.active .faqQuestion .arrowIcon {
  transform: rotate(180deg);
}

.callToActionSection {
  background-color: #420000;
  color: #FFD700;
  text-align: center;
  /* Media query for responsiveness */
}
.callToActionSection h2 {
  margin-bottom: 20px;
}
.callToActionSection .ctaButton {
  background-color: transparent;
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.callToActionSection .ctaButton svg {
  fill: #FFD700;
}
.callToActionSection .ctaButton .arrowIcon {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.callToActionSection .ctaButton:hover {
  background-color: #FFD700;
  color: #420000;
}
.callToActionSection .ctaButton:hover svg {
  fill: #420000;
}
@media screen and (max-width: 768px) {
  .callToActionSection .ctaButton {
    font-size: 14px;
  }
}

/* Footer Section */
footer {
  background-color: #420000;
  color: #FFD700;
  padding: 40px 0;
  border-top: 1px solid rgb(97, 97, 97);
}
footer h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: bold;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 40px;
  gap: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
footer .footer-flex .footer-left {
  flex: 1;
}
footer .footer-flex .footer-left img {
  max-width: 100px;
  border-radius: 25px;
}
footer .footer-flex .footer-left p {
  margin-top: 24px;
  font-size: 1.6rem;
}
footer .footer-flex .footer-right {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
footer .footer-flex .footer-right .footer-section {
  flex: 1;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #FFD700;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-size: 1.6rem;
}
footer ul li a:hover {
  color: #8B4513;
}
footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
footer .footer-bottom p {
  font-size: 14px;
}
footer .footer-bottom .social-icons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  footer .footer-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  footer .footer-bottom .social-icons {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
