* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

p {
  color: rgba(51, 51, 51, 0.8);
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  background-color: #333333;
  color: #000000;
  border-radius: 36px;
  padding: 6px 16px;
  outline: none;
  cursor: pointer;
}

section {
  padding-block: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.commonBtn {
  background-color: #3498db;
  color: #000000;
  border: 1px solid #3498db;
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}
.commonBtn:hover {
  background-color: transparent;
  color: #3498db;
}
.commonBtn svg {
  fill: inherit;
}
.commonBtn:hover {
  background-color: transparent;
  color: #3498db;
}
.commonBtn:hover svg {
  fill: #3498db;
}

.outlineBtn {
  background-color: transparent;
  border: 2px solid #3498db;
  color: #3498db;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.outlineBtn:hover {
  background-color: #3498db;
  color: #f5f5f5;
}

h2.heading {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: 0.085px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  h2.heading {
    margin-bottom: 25px;
    font-size: 2.8rem;
  }
}

header {
  background-color: transparent;
  color: #333333;
  padding: 16px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.8);
}
header .logo img {
  border-radius: 25px;
  border: 1px solid #000000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
header ul.menu li {
  text-align: center;
  padding-block: 20px;
}
header ul.menu li a {
  color: #000000;
  font-size: 1.6rem;
}
header ul.menu li a:hover {
  color: #3498db;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
header ul.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #000000;
  position: absolute;
  top: 74px;
  right: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #3498db;
}
header .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
header .menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
header .menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}
header .bar {
  width: 100%;
  height: 2px;
  background: #333333;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  header {
    display: block;
  }
  header ul.menu {
    display: none;
    gap: 0;
  }
  header .menu-toggle {
    display: flex;
  }
  header ul.mobile-menu {
    display: none;
  }
  header ul.mobile-menu.active {
    display: flex;
  }
}

.bannerSection {
  background-color: #f5f5f5;
  background-image: url("../images/founder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  z-index: 0;
}
.bannerSection::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.bannerSection .bannerContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bannerSection h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #3498db;
}
.bannerSection .bannerContent {
  flex: 1;
}
.bannerSection .bannerContent .bannerHeading {
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
  color: #ffffff;
}
.bannerSection .bannerContent p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.4em;
  color: #ffffff;
}
.bannerSection .bannerVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
.bannerSection .bannerVideo svg {
  width: 80px;
  height: 80px;
  fill: rgba(51, 51, 51, 0.8);
  transition: fill 0.3s;
  cursor: pointer;
  fill: #ffffff;
}
.bannerSection .bannerVideo P {
  margin-top: 1rem;
  font-size: 2.6rem;
  color: #ffffff;
}
.bannerSection .bannerVideo:hover p {
  color: #3498db;
}
.bannerSection .bannerVideo:hover svg {
  fill: #3498db;
}
@media (max-width: 768px) {
  .bannerSection .bannerContentWrapper {
    flex-direction: column;
    gap: 30px;
  }
  .bannerSection .bannerContent .bannerHeading {
    font-size: 3.6rem;
  }
  .bannerSection .bannerContent p {
    font-size: 1.6rem;
  }
  .bannerSection .bannerContent,
  .bannerSection .bannerVideo {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .bannerSection .bannerVideo svg {
    width: 60px;
    height: 60px;
  }
  .bannerSection .bannerVideo p {
    text-align: center;
    font-size: 2rem;
  }
}

.popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.popupOverlay .popupContent {
  max-width: 700px;
  min-width: 700px;
  min-height: 400px;
  margin: auto;
  margin-inline: 20px;
  background: #000000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  border: 1px solid #3498db;
}
.popupOverlay .closePopupButton {
  background: #000000;
  color: #333333;
  padding: 5px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.popupOverlay .closePopupButton svg {
  fill: #ffffff;
}
.popupOverlay .closePopupButton:hover {
  background: #000000;
}
@media (max-width: 768px) {
  .popupOverlay .closePopupButton {
    transform: translate(30%, -30%);
  }
  .popupOverlay .closePopupButton svg {
    width: 15px;
    height: 15px;
  }
}

.aboutSection {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}
.aboutSection h3 {
  color: #333333;
  font-size: 2.6rem;
  margin-bottom: 16px;
}
.aboutSection .flexLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
}
.aboutSection .flexContent {
  text-align: left;
  flex: 1;
}
.aboutSection p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4em;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 20px;
}
.aboutSection .flexImage {
  flex: 1;
  text-align: center;
}
.aboutSection img {
  height: auto;
  width: 400px;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .aboutSection .flexLayout {
    flex-direction: column;
    text-align: center;
    padding-block: 30px;
  }
  .aboutSection .flexLayout.reversed {
    flex-direction: column-reverse;
  }
  .aboutSection .flexContent {
    text-align: center;
  }
  .aboutSection h3 {
    font-size: 2rem;
  }
  .aboutSection p {
    font-size: 1.6rem;
  }
}

.testimonialsSection {
  background-color: #f5f5f5;
  padding: 60px 0;
  text-align: center;
}
.testimonialsSection .testimonialsHeading {
  color: #333333;
  font-size: 28px;
  margin-bottom: 30px;
}
.testimonialsSection .testimonialSlider {
  position: relative;
}
.testimonialsSection .sliderWrapper {
  display: flex;
  overflow: hidden;
}
.testimonialsSection .sliderItem {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}
.testimonialsSection .testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.testimonialsSection .testimonialImage {
  flex: 0 0 30%;
}
.testimonialsSection .testimonialImage img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.8);
}
.testimonialsSection .testimonialContent {
  flex: 0 0 70%;
  text-align: left;
  padding: 0 20px;
}
.testimonialsSection .testimonialText {
  color: #333333;
  font-size: 2rem;
  line-height: 1.5em;
}
.testimonialsSection .sliderControls {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}
.testimonialsSection .prevSlideBtn,
.testimonialsSection .nextSlideBtn {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #f5f5f5;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.testimonialsSection .prevSlideBtn svg {
  transform: rotate(180deg);
}
.testimonialsSection .prevSlideBtn:hover,
.testimonialsSection .nextSlideBtn:hover {
  background-color: #f5f5f5;
  color: #3498db;
}
.testimonialsSection .prevSlideBtn:hover svg,
.testimonialsSection .nextSlideBtn:hover svg {
  fill: #3498db;
}
@media (max-width: 768px) {
  .testimonialsSection .testimonial {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .testimonialsSection .testimonialText {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5em;
  }
}

.coachesSection {
  background-color: #f5f5f5;
  color: #3498db;
  padding: 60px 0;
}
.coachesSection .coachesFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coachesSection .coachesContent {
  flex: 0 0 50%;
  padding: 0 20px;
}
.coachesSection h2 {
  line-height: 1.4em;
  margin-bottom: 20px;
}
.coachesSection p {
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 20px;
}
.coachesSection .coachesImage {
  flex: 0 0 45%;
  text-align: right;
}
.coachesSection .coachesImage img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .coachesSection .coachesFlex {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .coachesSection .coachesContent {
    flex: 0 0 100%;
  }
  .coachesSection .coachesImage {
    margin-block: 20px;
    text-align: center;
    max-width: 400px;
  }
}

.featuresSection {
  background-color: #f5f5f5;
  color: #3498db;
  text-align: center;
}
.featuresSection .featuresFlex {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.featuresSection .featureCard {
  max-width: 280px;
  text-align: center;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  border: 1px solid #3498db;
}
.featuresSection .featureCard img {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}
.featuresSection .featureCard h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
  color: #ffffff;
}
.featuresSection .featureCard h4 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: yellow;
}
.featuresSection .featureCard li {
  font-size: 1.4rem;
  color: yellow;
  text-align: left;
  text-transform: capitalize;
  font-weight: 600;
}
.featuresSection .featureCard li:not(:last-of-type) {
  margin-bottom: 5px;
}
.featuresSection .featureCard p {
  font-size: 16px;
  line-height: 1.5em;
  color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  .featuresSection .featuresFlex {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.whatYouGetSection img {
  width: 50px;
  height: 50px;
}

.topersSection img {
  width: 150px;
  height: 150px;
}

.faqSection {
  background-color: #f5f5f5;
  text-align: center;
}
.faqSection h2 {
  color: #333333;
}
.faqSection .faqAccordion {
  max-width: 800px;
  margin: 0 auto;
}
.faqSection span {
  font-size: 2rem;
}
.faqSection .faqItem {
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1px solid #3498db;
}
.faqSection .faqItem:not(:last-of-type) {
  margin-bottom: 20px;
}
.faqSection .faqItem .faqQuestion {
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqSection .faqItem .faqQuestion .arrowIcon {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.faqSection .faqItem .faqAnswer {
  display: none;
  color: #000000;
  padding-top: 8px;
  font-size: 1.6rem;
}
.faqSection .faqItem.active .faqAnswer {
  display: block;
}
.faqSection .faqItem.active .faqQuestion .arrowIcon {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .faqSection span {
    font-size: 1.6rem;
  }
  .faqSection .faqItem {
    padding: 12px;
  }
}

.callToActionSection {
  background-color: #f5f5f5;
  color: #3498db;
  text-align: center;
}
.callToActionSection .ctaButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.callToActionSection .ctaButton .arrowIcon {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .callToActionSection .ctaButton {
    font-size: 14px;
  }
}

footer {
  background-color: #f5f5f5;
  color: #3498db;
  padding: 40px 0;
  border-top: 1px solid rgba(52, 152, 219, 0.4);
}
footer h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  font-weight: bold;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 40px;
  gap: 48px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.12);
}
footer .footer-flex .footer-left {
  flex: 1;
}
footer .footer-flex .footer-left img {
  max-width: 100px;
  border-radius: 25px;
}
footer .footer-flex .footer-left p {
  margin-top: 24px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
footer .footer-flex .footer-right {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
footer .footer-flex .footer-right .footer-section {
  flex: 1;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-size: 1.6rem;
}
footer ul li a:hover {
  color: rgba(51, 51, 51, 0.8);
}
footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
footer .footer-bottom p {
  font-size: 14px;
}
footer .footer-bottom .social-icons {
  display: flex;
  gap: 20px;
}
footer .footer-bottom .social-icons img {
  border-radius: 50%;
}
footer .footer-bottom .social-icons img:hover {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
}
@media screen and (max-width: 768px) {
  footer .footer-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-bottom: 20px;
  }
  footer .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=v2styles.css.map */
